<launch>
  <rosparam command="load" file="$(find mit-slam)/config/slam_params.yaml"/>
  <rosparam command="load" file="$(find mit-slam)/config/blob_params.yaml"/>
  <rosparam command="load" file="$(find mit-slam)/config/cloud_params.yaml"/>
  <rosparam command="load" file="$(find mit-slam)/config/graph_params.yaml"/>

  <node name="slam_node" pkg="mit-slam" type="slam_node" output="screen"/>
</launch>
